<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="StancyBank">
        <classes>
            <class name="ParentClass">
                <methods>
                    <include name="w3cValidationCheck"/>
                    <include name="consoleLogsCheck"/>
                    <include name="jsValidationCheck"/>
                    <include name="brokenLinkCheck"/>
                    <include name="brokenImagesCheck"/>
                    <include name="responseDimensionCheckBrokenLinks"/>
                    <include name="responseDimensionCheckBrokenImages"/>
                    <include name="responsiveDimensionConsoleLogs"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>